<div class="main <%- loc %>">
    <section class="section-1">
        <div class="warp-main">
            <div class="big-logo">
                <img src="<%- images.logoBigImg %>">
            </div>
            <div class="content">
                <div class="text desc desc-1">
                    <%- language.desc1 %>
                </div>
                <div class="text desc desc-2">
                    <%- language.desc2 %>
                </div>
                <div class="text total">
                    <%- language.total %><%- data.totalNum %>
                </div>
                <div class="progress">
                    <div class="coin-list">
                        <% for (let i = 0; i < data.progress; i++) { %>
                        <i class="coin-item active"></i>
                        <% } %>
                        <% for (let i = 18; i > data.progress; i--) { %>
                        <i class="coin-item"></i>
                        <% } %>
                    </div>
                </div>
                <div class="action">
                    <div class="btn buy text">
                        <%- language.buy %>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
