<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%- language[page].title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="">
</head>
<body ontouchstart="" class="<%- loc %>">
<% if (!data.noHeader) { %>
<%- include('header', {loc: loc, global: language.global, language: language['header'], images: images['header'], hadLoc: data.hadLoc, path: path}) %>
<% } %>
<% if (!data.noFooter) { %>
<%- include('footer', {loc: loc, global: language.global, language: language['footer'], images: images['footer']}) %>
<% } %>
<script>var GLOBAL = {loc: '<%- loc %>'}</script>
<%- include('../' + page, {loc: loc, global: language.global, language: language[page], images: images[page]}) %>
</body>
</html>
