<div class="main <%- loc %>">
    <div class="auth-warp">
        <div class="container">
            <section class="phone-page center" data-index="0">
                <div class="title-bar"></div>
                <div class="phone-controller">
                    <form class="phone-form form">
                        <div class="form-controller">
                            <div class="form-icon">
                                <img src="<%- images.earthImg %>">
                            </div>
                            <div class="form-item">
                                <div class="country-code">
                                    <select for="countrySelect" class="country-select">
                                        <% global.country.forEach(value => { %>
                                        <option value="<%- value.code %>"><%- value.country %></option>
                                        <% }) %>
                                    </select>
                                    <i class="arrow-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-controller">
                            <div class="form-icon">
                                <img src="<%- images.phoneImg %>">
                            </div>
                            <div class="form-item">
                                <div class="phone-num">
                                    <span class="dis-code text"></span>
                                    <input type="tel" class="phone" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-controller">
                            <div class="form-item">
                                <div class="form-action controller-action">
                                    <button type="button" class="btn submit text">
                                        <%- language.next %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="statement">
                    <span class="text"><%- language.statement %></span>
                    <br>
                    <!-- TODO terms link-->
                    <a href="#" class="text terms"><%- language.terms %></a>
                </div>
            </section>
            <section class="verify-page right" data-index="1">
                <div class="title-bar">
                    <div class="back" data-back="phone">
                        <i class="icon-back"></i>
                    </div>
                    <div class="page-title text">
                        <%- language.verifyNumber %>
                    </div>
                </div>
                <div class="verify-controller">
                    <div class="verify-tip">
                        <div class="verify-info">
                            <div class="tip text"><%- language.verifyTip %></div>
                            <div class="phone-number text">+86 13149531123</div>
                        </div>
                        <div class="verify-phone">
                            <i class="icon-verify-phone"></i>
                        </div>
                    </div>
                    <div class="verify-code">
                        <input type="text" class="code" maxlength="4">
                    </div>
                    <div class="controller-action">
                        <button type="button" class="btn verify-submit text">
                            <%- language.verifyBtn %>
                        </button>
                    </div>
                    <div class="resend-code">
                        <div class="btn resend-submit text">
                            <%- language.resend %>
                        </div>
                    </div>
                </div>
            </section>
            <section class="profile-page right" data-index="2">
            </section>
            <section class="password-page right" data-index="3">
                <div class="title-bar">
                    <div class="back" data-back="phone">
                        <i class="icon-back"></i>
                    </div>
                    <div class="page-title text">
                        <%- language.enterPassword %>
                    </div>
                </div>
                <div class="pass-controller">
                    <div class="pass-tip">
                        <div class="user-info">
                            <div class="username text">TODO user name</div>
                            <div class="phone-number text">user phone number</div>
                        </div>
                        <div class="pass-phone">
                            <i class="icon-pass-phone"></i>
                        </div>
                    </div>
                    <div class="password-warp">
                        <input type="password" class="password" name="password">
                    </div>
                    <div class="controller-action">
                        <button type="button" class="btn start-submit text">
                            <%- language.start %>
                        </button>
                    </div>
                    <div class="forget-pass">
                        <div class="btn forget-submit text">
                            <%- language.forget %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
