<footer class="footer">
    <section class="warp-footer">
        <div class="links">
            <ul>
                <li class="link-item">
                    <div class="link">
                        <a href="https://www.facebook.com/YeeToken/" target="_blank">
                            <img src="<%- images.facebookImg %>">
                        </a>
                    </div>
                </li>
                <li class="link-item">
                    <div class="link">
                        <a href="https://twitter.com/YeeToken" target="_blank">
                            <img src="<%- images.twitterImg %>">
                        </a>
                    </div>
                </li>
                <li class="link-item">
                    <div class="link">
                        <a href="mailto:yeefoundationservice@gmail.com">
                            <img src="<%- images.mailImg %>">
                        </a>
                    </div>
                </li>
                <li class="link-item">
                    <div class="link">
                        <a href="https://www.reddit.com/user/yeetoken" target="_blank">
                            <img src="<%- images.redditImg %>">
                        </a>
                    </div>
                </li>
                <li class="link-item">
                    <div class="link">
                        <a href="https://t.me/yeetoken" target="_blank">
                            <img src="<%- images.telegramImg %>">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="copyright text"><%- language.copyright %></div>
            &nbsp;
            <!--<div class="terms text">-->
                 <!--TODO add link-->
                <!--<a href="#" target="_blank"><%- language.terms %></a>-->
            <!--</div>-->
        </div>
    </section>
</footer>